.kpi-card {
    box-shadow: none;
    padding:28px;
    box-sizing: border-box;
    margin:24px;
  }
  .kpi-title {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #A1A1B5;
    margin: 0 -8px;
  }
  .kpi-result {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0;
    text-align: left;
    color: #43436B;
    margin: 0 8px;
  }