@use '~@angular/material' as mat;
$n4-black-primary: mat.define-palette(mat.$grey-palette, 700, 300, 900);
$n4-black-accent: mat.define-palette(mat.$blue-grey-palette, 400);
$n4-black-warn: mat.define-palette(mat.$red-palette, 500);

$n4-black-theme: mat.define-dark-theme(
  $n4-black-primary,
  $n4-black-accent,
  $n4-black-warn
);
