@use '~@angular/material' as mat;
$n4-light-primary: mat.define-palette(mat.$grey-palette, 200, 500, 300);
$n4-light-accent: mat.define-palette(mat.$brown-palette, 200);
$n4-light-warn: mat.define-palette(mat.$deep-orange-palette, 200);

$n4-light-theme: mat.define-light-theme(
  $n4-light-primary,
  $n4-light-accent,
  $n4-light-warn
);
