@use '~@angular/material' as mat;

@mixin n4-connection-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .connections {
    table {
      mat-icon{
        color: mat.get-color-from-palette(mat.$gray-palette, 500);
      }
      a:link,
      a:visited {
        text-decoration: none;
        &.name {
        }

        &.parentName {
          color: mat.get-color-from-palette(mat.$gray-palette, 500);
        }
        
        &:hover {
          color: mat.get-color-from-palette($accent);
          font-weight: normal;
        }
      }
    }
  }
}
