<div class="connections" style="margin-top:12px">
	<div class="result-numbers-text" *ngIf="dataSource.data.length!=0" fxLayout="row wrap"
		fxLayoutAlign="space-between center" fxLayoutAlign.lt-md="center center">
		<div fxLayout="row wrap">
			<mat-chip-list #connectionsFilter multiple>
				<mat-chip *ngFor="let item of groupConnectionsByType | keyvalue" (click)="toggleChip(item.key, $event)"
					color="primary" [selected]="chips.has(item.key)" selectable="true" multiple="true">
					{{item.key}} ~ {{item.value}}
				</mat-chip>
			</mat-chip-list>
		</div>
		<mat-paginator #paginatorTop [pageSizeOptions]="[10, 25, 100]" hidePageSize="true" style="background: unset;">
		</mat-paginator>
	</div>
	<div class="results-loading" *ngIf="resultsLoading">
		<mat-progress-bar mode="query"></mat-progress-bar>
	</div>
	<div style="margin-top:18px;">
		<table mat-table [dataSource]="dataSource" matSort>

			<ng-container matColumnDef="toOrdinalPosition">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> #
				</th>
				<td mat-cell *matCellDef="let row"> {{row.fromId == facetId? row.toOrdinalPosition:
					row.fromOrdinalPosition}} </td>
			</ng-container>

			<ng-container matColumnDef="toPrimaryKey">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Key
				</th>
				<td mat-cell *matCellDef="let row">
					<mat-icon *ngIf="row.fromId == facetId? row.toPrimaryKey: row.fromPrimaryKey">vpn_key</mat-icon>
				</td>
			</ng-container>

			<ng-container matColumnDef="toName">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Name
				</th>
				<td mat-cell *matCellDef="let row">
					<span class="subtle-link" matTooltip="{{row.toDescription}}">
						<div fxLayout="column" fxLayoutAlign="center start">
							<a class="name" fxLayout="row" xLayoutAlign="start center" routerLink="{{'/view/' + (row.fromId == facetId? row.toId: row.fromId)}}">
								<div style="padding-right:10px; height:18px; width:18px">
									<mat-icon
										[svgIcon]="(row.fromId == facetId? row.toType: row.fromType) | lcWithDashes">
									</mat-icon>
								</div>
								<div>
									{{row.fromId == facetId? row.toName: row.fromName}}
								</div>
							</a>
							<a class="parentName" *ngIf="!attributeDisplay && (row.fromId == facetId? row.toParentName: row.fromParentName)"
								routerLink="{{'/view/' + (row.fromId == facetId? row.toParentId: row.fromParentId)}}" style="margin-left: 28px;">
								{{row.fromId == facetId? row.toParentName: row.fromParentName}}
							</a>
							<a class="parentName" *ngIf="!attributeDisplay && !(row.fromId == facetId? row.toParentName: row.fromParentName)"  style="margin-left: 28px;"
								routerLink="{{'#'}}">
								Top Level
							</a>
						</div>

					</span>
				</td>
			</ng-container>

			<ng-container matColumnDef="toType">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Type
				</th>
				<td mat-cell *matCellDef="let row"> {{row.fromId == facetId? (row.toType | replaceUnderscore):
					(row.fromType | replaceUnderscore)}}
				</td>
			</ng-container>

			<ng-container matColumnDef="toSubType">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Subtype
				</th>
				<td mat-cell *matCellDef="let row">
					{{row.fromId == facetId? (row.toSubType | replaceUnderscore): (row.fromSubType  | replaceUnderscore)}}
				</td>
			</ng-container>

			<ng-container matColumnDef="toDataType">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Data Type
				</th>
				<td mat-cell *matCellDef="let row">
					{{row.fromId == facetId? row.toDataType: row.fromDataType}}
				</td>
			</ng-container>

			<ng-container matColumnDef="toPii">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> PII
				</th>
				<td mat-cell *matCellDef="let row">
					<mat-icon *ngIf="row.fromId == facetId? row.toPII: row.fromPII">flag</mat-icon>
				</td>
			</ng-container>


			<ng-container matColumnDef="display">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Connection
				</th>
				<td mat-cell *matCellDef="let row"> {{row.fromId == facetId? row.display: row.displayAlternative}} </td>
			</ng-container>


			<tr mat-header-row
				*matHeaderRowDef="(isSmallDevice$ | async)? displayedColumnsSmallDevice:displayedColumns"></tr>
			<tr mat-row
				*matRowDef="let row; columns: (isSmallDevice$ | async)? displayedColumnsSmallDevice:displayedColumns;">
			</tr>

		</table>
	</div>

	<div class="bottom-paginator" *ngIf="dataSource.data.length!=0">
		<mat-paginator *ngIf="dataSource.data.length>0 && paginator?.length>paginator?.pageSize"
			(page)="handlePageBottom($event)" [pageSize]="paginator?.pageSize" [pageIndex]="paginator?.pageIndex"
			[length]="paginator?.length" [pageSizeOptions]="paginator?.pageSizeOptions">
		</mat-paginator>
	</div>
</div>