<mat-toolbar class="n4-header" color="primary" class="mat-elevation-z6" style="position: relative;">
  <mat-toolbar-row class="top-row" fxLayout="row wrap" fxLayoutAlign="space-between center" class="mat-elevation-z6">
    <div fxLayout="row" fxLayoutAlign="center center">
      <app-toggle-sidebar *ngIf="(hamburgerState | async)"></app-toggle-sidebar>
      <div class="logo">
        <a mat-button routerLink="/" aria-label="Infornite">
          <img class="img-logo" src="../../../assets/img/logos/n4nite-logo-white-small.png" alt="Infornite">
          <span>INFORNITE</span>
        </a>
      </div>
      <ng-container *ngIf="auth.isAuthenticated$ | async">
        <button mat-button class="nav-button" *ngFor="let item of navbarItems" [routerLink]="[item.routerLink]"
          [routerLinkActive]="[item.linkActive]" [fxShow]="item.showOnDesktop" [fxShow.xs]="item.showOnMobile"
          [fxShow.sm]="item.showOnTablet">
          {{item.label | translate}}
        </button>
      </ng-container>
    </div>
    <div class="right-side" fxLayout="row" fxLayoutAlign="center center">
      <div class="authenticated" *ngIf="auth.isAuthenticated$ | async" fxLayout="row" fxLayoutAlign="center center">
          <div class="header-search" [@slideInOut]="searchVisible" fxHide fxShow.gt-sm>
            <in4-ac></in4-ac>
          </div>
          <button mat-mini-fab style="margin-right:4px;" (click)="search()" fxHide fxShow.gt-sm>
            <mat-icon>search</mat-icon>
          </button>
        <n4-quick-add style="margin-right:4px;"></n4-quick-add>
        <n4-user-popup></n4-user-popup>
      </div>
      <div class="not-authenticated" *ngIf="!(auth.isAuthenticated$ | async)">
        <button mat-button
          (click)="auth.loginWithRedirect({ redirect_uri: baseDomain + '/discover',  appState: { target:'/discover' }})">
          Login
        </button>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>


<!--

-->