.n4-header {
  .top-row {
    padding-left: 8px;

 

    .right-side {
      n4-quick-add {
        margin: 5px;
      }
    }
  }

  .nav-button {
    margin: 0 10px 0 0;
  }
}   
.logo {
      display: flex;
      .img-logo {
        height: 26px;
        margin: 0 4px 3px 0;
        vertical-align: middle;
      }
    }