@mixin n4-ac-component-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);

    .n4-ac {
        mat-icon {
            color: mat.get-color-from-palette(mat.$gray-palette, 500);
          }

        .right-border {
            background: mat.get-color-from-palette($primary)
        }
    }
}
